*{
    margin: 0;
    padding: 0;

}

body{
    padding: 10px 30px;
}

fieldset{
    width: 550px;
    padding: 10px;

}

p{
    margin: 15px 0;
}

label{
    width: 150px;
    display: inline-block;
    margin: 7px;
    vertical-align: top;
}

input{
    width: 250px;
}

span{
    color: red;
}

input[type=checkbox]{
    width: 10px;
    margin: 0px 7px;

}

button{
    background-col
    color: lightgrey
    padding: 12px;
    margin: 5px 15px;
    font-size: 14px;

}
